.hi{
  height: 100%;
}


.center {
   position: absolute;
   top: 45%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}

.side {
  position: relative;
  top: 25%;
}
.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}
.growm img{
transition: 1s ease;
}

.growm img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.2);
transition: 1s ease;
}

.growm img{
transition: 1s ease;
}

.growm img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.2);
transition: 1s ease;
}

.nice{
  font-size: 250%;
}

.parallax-container {
  height:600px;
}

.teamphoto {
  height:350px;
}
